<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-left">Hero Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1 class="ion-padding-bottom ion-text-center">Cadastro de Herois</h1>

    <form
      class="ion-margin-bottom"
      [formGroup]="heroiForm"
      (ngSubmit)="submitForm()"
    >
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nome do Herói</ion-label>
          <ion-input type="text" formControlName="NomeHeroi"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nome real</ion-label>
          <ion-input type="text" formControlName="Nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Data de nascimento</ion-label>
          <ion-input type="date" formControlName="DataNascimento"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Altura</ion-label>
          <ion-input type="number" formControlName="Altura"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Peso</ion-label>
          <ion-input type="number" formControlName="Peso"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Super-poderes</ion-label>
          <ion-select formControlName="SuperPoderIds">
            <ion-select-option
              *ngFor="let superPoder of superPoderes"
              [value]="superPoder.id"
            >
              {{ superPoder.superPoder }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-button
        expand="full"
        type="submit"
        [disabled]="!heroiForm.valid"
        color="success"
      >
        Adicionar Livro
      </ion-button>
    </form>
  </div>

  <ion-content>
    <div class="ion-padding">
      <h1 class="ion-padding-bottom ion-text-center">
        Super heróis cadastrados
      </h1>

      <ion-list>
        <ion-card *ngFor="let heroi of herois; let i = index">
          <ion-card-header>
            <ion-card-title>{{ heroi.nomeHeroi }}</ion-card-title>
            <ion-card-subtitle>{{ heroi.nome }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>
              <strong>Data de Nascimento:</strong>
              {{ heroi.dataNascimento | date : "dd/MM/yyyy" }}
            </p>
            <p><strong>Altura:</strong> {{ heroi.altura }}m</p>
            <p><strong>Peso:</strong> {{ heroi.peso }}kg</p>
          </ion-card-content>

          <ion-row class="ion-justify-content-between ion-padding">
            <ion-button [id]="'present-alert-' + i" color="danger">
              Excluir
            </ion-button>
            <ion-alert
              [trigger]="'present-alert-' + i"
              header="Confirmação"
              message="Tem certeza que deseja excluir o heroi {{
                heroi.nomeHeroi
              }}?"
              [buttons]="alertButtons"
              (didDismiss)="setResult($event, heroi)"
            ></ion-alert>
            <ion-button color="warning" (click)="updateHeroi()">
              Editar
            </ion-button>
          </ion-row>
        </ion-card>
      </ion-list>
    </div>
  </ion-content>
</ion-content>
